<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../css/general.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <title>Arrebol &mdash; Welcome to first project!</title>
</head>
<body>
<header class="header">
    <a href="#">
        <img class="header-logo" src="../img/Arrebol-logo.jpg" alt="Logo of my first project, a lad.">
    </a>

    <nav class="header-nav">
        <ul class="header-nav-list">
            <li><a class="header-nav-link" href="#">Home</a></li>
            <li><a class="header-nav-link" href="#">Blog</a></li>
            <li><a class="header-nav-link" href="#">Game</a></li>
            <li><a class="header-nav-link nav-cta" href="#">Section</a></li>
        </ul>
    </nav>
</header>
</body>
</html>